[submodule "trinityrnaseq.wiki"]
	path = trinityrnaseq.wiki
	url = https://github.com/trinityrnaseq/trinityrnaseq.wiki.git

[submodule "trinity_ext_sample_data"]
	path = trinity_ext_sample_data
	url = https://github.com/trinityrnaseq/trinity_ext_sample_data.git
[submodule "Inchworm"]
	path = Inchworm
	url = https://github.com/trinityrnaseq/Inchworm.git
[submodule "Chrysalis"]
	path = Chrysalis
	url = https://github.com/trinityrnaseq/Chrysalis.git

